.github/
scripts/
src/
test/
metadata/
tsconfig.json
eslint.config.js
prettier.config.js
.releaserc.json
.gitignore
.npmignore

*.ts
*.tsbuildinfo
!*.d.ts

coverage/
.nyc_output/
.grim-cache/
.grim-server/
.test-cache/
grim-server.config.json

node_modules/
package-lock.json
*.tgz
*.download

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
.npmrc

.DS_Store
Thumbs.db
.idea/
.vscode/
